# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env/
.venv/
env/
venv/
ds_mnist/    # if you named your conda env dir in-project

# Logs and runtime files
logs/
*.log
*.out

# Data
data/
*.csv
*.pt
*.pth

# DeepSpeed outputs
deepspeed_checkpoint/
deepspeed_global_states/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
